<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth0 Node.js Tutorial</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">
    <%- include('partials/header') %>
    <main class="flex-grow flex items-center justify-center">
      <div id="content" class="text-center">
        <% if (isAuthenticated) { %>
        <p class="text-lg text-gray-700">Profil utilisateur :</p>
        <div class="mt-4">
          <p class="text-gray-700"><strong>Nom :</strong> <%= user.name %></p>
          <p class="text-gray-700">
            <strong>Email :</strong> <%= user.email %>
          </p>
        </div>
        <% } else { %>
        <p class="text-lg text-gray-700">Pas encore connecté.</p>
        <% } %>
      </div>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
